body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  width: 660px;
  margin: 20px auto;
  display: flex;
  gap: 16px;
  align-items: center;
  color: dark;
  justify-content: space-between;
}
.navbar-dark{
  width: 660px;
  margin: 20px auto;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.theme{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: .5s;
}
.theme-dark{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: .5s;
  color: white;
}
.nav-links{
  display: flex;
  gap: 12px;
}
.nav-link{
  text-decoration: none;
  color: black;
}
.navlink-dark{
  text-decoration: none;
  color: white;
}
.home-container{
  width: 660px;
  margin: 60px auto;
}
.user{
  height: 100px;
  border-radius: 100px;
}
.connect-light{
  color: white;
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 15px 28px;
  text-decoration: none;
  display: inline-block;
 

}
.connect-dark{
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 15px 28px;
  text-decoration: none;
  display: inline-block;
  color: black;
}
.connect-flex{
  display: flex;
  gap: 10px;
}
.card{
  width: 340px;
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 8px;
}
.card img{
  width:100%;
  border-radius: 18px;
  height: 190px;
  object-fit: cover;
}
.movie-flex{
  display: flex;
  gap: 15px;
}
.m-flex{
display: flex;
justify-content: space-between;
align-items: center;
}
.share-icon{
  transform: rotate(45deg);
}